@import url(variable.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--color-2);
}

.header_container{
    width: 1440px;
    height: 141px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 31px;
}

.logo{
    width: 298px;
    height: 96px;
    border-radius: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    position: relative;
    left: -50px;

}

.logo p{
    font-family: "Roboto-Regular";
    font-size: 48px;
    position: relative;
}

.logo img{
    width: 46px;
    height: 45px;
}

.container_menu{
    width: 732px;
    height: 38px;
    display: flex;
    position: relative;
    left: 90px;
}

.home{
    width: 732px;
    height: 38px;
    display: flex;
    flex-direction: row;
}

.init{
  width: 90px;
  height: 38px;
  margin: 8px;
  padding-right: 73px;  
}

.init a{
    text-decoration: none;
}

.init p{
    font-family: "Roboto-Bold";
    font-size: 24px;
    color: var(--color-1);
}

.how{
    width: 142px;
    height: 38px;
    margin: 8px;
    position: relative;
    left: 15px;
}

.how a{
    text-decoration: none;
}

.how p{
    font-family: "Roboto-Bold";
    font-size: 24px;
    color: var(--color-1);
}

.help{
    margin: 8px;
    padding-right: 64px;
    padding-left: 56px;
}

.help a{
    text-decoration: none;
}   

.help p{
    font-family: "Roboto-Bold";
    font-size: 24px;
    color: var(--color-1);
}

.about{
    margin: 8px;
}

.about a{
    text-decoration: none;
}

.about p{
    font-family: "Roboto-Bold";
    font-size: 24px;
    color: var(--color-1);
}

.night_container{
    width: 103px;
    height: 40px;
}

.night{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding-left: 217px;
}

.presentation{
    width: 1319px;
    height: 592px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    
}

.side_1{
    width: 707px;
    height: 592px;
    position: relative;
    left: 100px;
    top: 39px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info h1{
    font-family: "Roboto-Regular";
    font-size: 56.4px;
    color: var(--color-1);
    font-weight: lighter;
}

.info p{
    font-family: "Roboto-Regular";
    font-size: 26px;
    color: var(--color-1);
}

.side_2{
    width: 567px;
    height: 526.36px;
    display: flex;
    flex-direction: row;
}

.info_1{
    width: 494.01px;
    height: 542px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttom_1{
    width: 249px;
    height: 59px;
    border-radius: 31.5px;
    background-color: var(--color-1);
}

.buttom_1 a{
    text-decoration: none;
}

.item{
    display: flex;
}

.market{
    position: relative;
    left: 40px;
    top: 14px;
}

.buy{
    position: relative;
    left: 80px;
    top: -35px;
}

.buy p{
    font-family: "Roboto-Bold";
    font-size: 40px;
    color: var(--color-2);
}

.social{
    width: 62px;
    height: 181.36px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 388px;
    align-items: center;
}

.how_container{
    width: 1099px;
    height: 1378px;
    display: flex;
    flex-direction: column;
}

.how{
    width: 363px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 56px;
    left: 528px;
}

.how h1{
    font-family: "Roboto-Bold";
    font-size: 64px;
    color: var(--color-1);

}

.expl{
    width: 654px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 70px;
    left: 383px;
}

.expl p{
    font-family: "Roboto-Regular";
    font-size: 36px;
    color: var(--color-1);
    text-align: center;
}

.rules{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 169px;
    top: 150px;
}

.rule_1{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.rule_1_text{
    font-family: "Roboto-Regular";
    font-size: 28px;
    color: var(--color-1);
    position: relative;
    left: 30px;
    padding-right: 50px;
}

.rule_2{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 30px;
}

.rule_2_text{
    font-family: "Roboto-Regular";
    font-size: 28px;
    color: var(--color-1);
    position: relative;
    left: 30px;
    padding-right: 50px;
}

.rule_3{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 50px;
}

.rule_3_text{
    font-family: "Roboto-Regular";
    font-size: 28px;
    color: var(--color-1);
    position: relative;
    left: 30px;
    padding-right: 50px;
}

.rule_4{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 70px;
}

.rule_4_text{
    font-family: "Roboto-Regular";
    font-size: 28px;
    color: var(--color-1);
    position: relative;
    left: 30px;
    padding-right: 50px;
}

.rule_5{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 90px;
}

.rule_5_text{
    font-family: "Roboto-Regular";
    font-size: 28px;
    color: var(--color-1);
    position: relative;
    left: 30px;
    padding-right: 50px;
}







